/* CSS stillerinizi buraya girin */

body {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: rgb(141, 181, 230);
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between; /* sol ve sağa yaslar */
  align-items: center; /* dikey ortalama */
}

header h2 {
  color: rgb(18, 52, 70);
  width: 400px;
  text-align: center;
}

nav {
  display: flex;
}

nav a {
  border: 1px solid black;
  background-color: rgb(37, 81, 134);
  color: white;
  text-decoration: none;
  text-align: center;
  width: 100px;
  padding: 10px 0;
}

nav a:hover {
  background-color: rgb(70, 134, 212);
  color: white;
}

main {
  width: 80%; /*yataydaki genislik */
  height: 600px; /* dikeydeki yükseklik */
  margin: auto; /* ortala */
  background-image: url("https://picsum.photos/800/500");
  background-size: cover; /*resmi belirledigimiz alana sigdirir.*/
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

main h1 {
  color: rgb(180, 201, 214);
  border: 1px solid black;
  background-color: rgb(37, 81, 134);
  text-align: center;
  padding: 10px;
}

main a,
footer a {
  border: 1px solid black;
  background-color: rgb(37, 81, 134);
  color: white;
  text-decoration: none;
  text-align: center;
  width: 100px;
  padding: 20px 0;
}

main a:hover,
footer a:hover {
  background-color: rgb(70, 134, 212);
  color: white;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section div {
  width: 30%;
  margin-bottom: 3%;
}

section h3 {
  text-align: center;
}

section img {
  width: 100%;
}

footer {
  background-color: grey;
  padding: 5%;
  text-align: center;
}

footer a {
  display: block;
  margin: auto;
}

.spacer {
  height: 3vw;
}

@media screen and (max-width: 700px) {
  header {
    flex-direction: column;
  }
  nav {
    flex-direction: column;
  }
  main {
    width: 80%;
    height: 40vh;
    margin-top: 3%;
  }
}

@media screen and (max-width: 500px) {
  section {
    justify-content: space-evenly;
  }
  section div {
    width: 40%;
  }
}
